nav{
    margin: 0;
    padding: 10px;
    padding-right: 30px;
 }

 #nav_list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-block-start: 0px;
 }

.nav_li {
    color: rgba(0,0,0,0.87);
    padding-right: 10px;
}
  
#profile_picture {
    border-radius: 50%;
}

li:hover {
    text-decoration: underline;
 }

#google-logo {
margin-top: 47px;
height: 100px;
}